<!DOCTYPE html>
<html>
  <head>
    <title>RailsSimpleAirbnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class='d-flex justify-content-between p-3 bg-primary mb-3'>
      <%= link_to 'Simple Airbnb', flats_path, class: 'text-white' %>
      <div class='nav-info d-flex'>
        <form action="../flats" method='get'>
          <input type="text" name='word' placeholder='search...'>
          <input type="submit" value="search">
        </form> 
        <%= link_to 'Add flat', new_flat_path, class: 'text-white px-3' %>
      </div>
    </nav>
    <div class='content'>
      <%= yield %>
    </div>
  </body>
</html>
