<!DOCTYPE html>
<html>
  <head>
    <title>RailsSimpleAirbnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <a href="../flats">Simple Airbnb</a>
      <div class='nav-info'>
        <%# <form action="">
          <input type="text">
          <input type="submit">
        </form> %>
        <a href="../flats/new">Add flat</a>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
